<script>
    let auth = "<%=authenticated%>";
    if(auth) {
        socket.emit('authenticated', "<%=authenticated%>", "<%=userData.id%>");
    }

    function logout() {
        socket.emit('authenticated', "false", "<%=userData.id%>")
    }
</script>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="/conversations"><%=title%></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-sm-10">
    </ul>
    <% if(authenticated == false) {%>
    <ul class="navbar-nav navbar-fixed-top col-sm-2 justify-content-sm-right">
    <li class="nav-item">
        <a class="nav-link" href="/join">
        Sign up
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">
        Login
        </a>
    </li>
    </ul>
    <% } else { %>
    <ul class="navbar-nav col-sm-1 justify-content-sm-right">
    <li class="nav-item">
        <a class="nav-link text-right" href="/logout" onclick="logout();">
        Log out
        </a>
    </li>
    </ul>
    <% } %>
</div>
</nav>

<% if(messages) {
    if(messages.warning) {
        if(messages.warning.length) { %>
            <div class="alert alert-warning alert-dismissable">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= messages.warning%></strong>
            </div>
        <%}
    }
    if(messages.danger) {
        if(messages.danger.length) { %>
            <div class="alert alert-danger alert-dismissable">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= messages.danger%></strong>
            </div>
        <%}
    }
    if(messages.success) {
        if(messages.success.length) { %>
            <div class="alert alert-success alert-dismissable" role="alert" id="alert">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= messages.success%></strong>
            </div>
        <%}
    }
}%>